<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>

    <log4net>

        <logger name="TestLogger">
            <level value="DEBUG" />
        </logger>

        <appender name="FileAppender" type="log4net.Appender.RollingFileAppender, log4net">
            <!--日志文件路径,文件夹不存在则新建 -->
            <param name="File" value="D:/Sources/Logs/" />

            <!--是否追加到文件-->
            <param name="AppendToFile" value="true" />

            <!--记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全-->
            <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

            <!--使用Unicode编码-->
            <Encoding value="UTF-8" />

            <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
            <param name="MaxSizeRollBackups" value="10" />

            <!--是否只写到一个文件中-->
            <param name="StaticLogFileName" value="false" />

            <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
            <param name="RollingStyle" value="Composite" />

            <param name="DatePattern" value="'MSUnitTest'.yyyy-MM-dd.'log'" />
            <!--MSUnitTest.2024-03-16.0.log-->
            <preserveLogFileNameExtension value="true" />

            <!--可用的单位:KB|MB|GB。不要使用小数,否则会一直写入当前日志-->
            <param name="maximumFileSize" value="1MB" />

            <!--大于0表示文件名中的数字越大日志越新-->
            <param name="CountDirection" value="1" />

            <!--记录的格式。一般用log4net.Layout.PatternLayout布局-->
            <layout type="log4net.Layout.DynamicPatternLayout,log4net">
                <param name="Header" value="%date %thread START&#13;&#10;" />
                <param name="Footer" value="%date %thread END&#13;&#10;" />
                <param name="ConversionPattern" value="%date [%thread] [%class:%4line] [%-15method] %-5level - %message%newline%exception" />
            </layout>

            <!--过滤设置，LevelRangeFilter为使用的过滤器-->
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin" value="DEBUG" />
                <param name="LevelMax" value="FATAL" />
            </filter>
        </appender>

        <appender name="ConsoleAppender"  type="log4net.Appender.ConsoleAppender, log4net">
            <layout type="log4net.Layout.PatternLayout,log4net">
                <param name="ConversionPattern"  value="%date [%thread] [%class:%4line] [%-15method] %-5level - %message%newline%exception" />
            </layout>
        </appender>

        <root>
            <level value="ALL" />
            <appender-ref ref="ConsoleAppender" />
            <appender-ref ref="FileAppender" />
        </root>
    </log4net>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>